<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="szut.de.statistikapplication" >

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden" >
        <activity
            android:name=".AuswahlMannschaftActivity"
            android:label="Stati Manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createMannschaftActivities.KaderActivity"
            android:label="@string/title_activity_kader" >
        </activity>
        <activity
            android:name=".createMannschaftActivities.KategorieActivity"
            android:label="@string/title_activity_kategorie" >
        </activity>
        <activity
            android:name=".createMannschaftActivities.NewKategorieActivity"
            android:label="@string/title_activity_new_kategorie" >
        </activity>
        <activity
            android:name=".createMannschaftActivities.NewSpielerActivity"
            android:label="@string/title_activity_new_spieler" >
        </activity>
        <activity
            android:name=".HauptmenuActivity"
            android:label="@string/title_activity_hauptmenu" >
        </activity>
        <activity
            android:name=".createMannschaftActivities.MannschaftActivity"
            android:label="@string/title_activity_mannschaft" >
        </activity>
        <activity
            android:name=".ConfigActivity"
            android:label="@string/title_activity_config" >
        </activity>
        <activity
            android:name=".createMannschaftActivities.SportauswahlActivity"
            android:label="@string/title_activity_first_start" >
        </activity>
        <activity
            android:name=".createStatiActivities.ErfasseNeueStatiActivity"
            android:label="@string/title_activity_erfasse_neue_stati" >
        </activity>
        <activity
            android:name=".createStatiActivities.ErfassungsartActivity"
            android:label="@string/title_activity_erfassungsart" >
        </activity>
        <activity
            android:name=".createStatiActivities.ErfassungsActivity"
            android:label="@string/title_activity_erfassungs" >
        </activity>
        <activity
            android:name=".createMannschaftActivities.SpielerbildActivity"
            android:label="@string/title_activity_spielerbild" >
        </activity>
        <activity
            android:name=".showStatiActivities.EinzelStatiActivity"
            android:label="@string/title_activity_einzel_stati" >
        </activity>
        <activity
            android:name=".showStatiActivities.ErgebnistabelleActivity"
            android:label="@string/title_activity_ergebnistabelle" >
        </activity>
        <activity
            android:name=".showStatiActivities.GesamtStatiActivity"
            android:label="@string/title_activity_gesamt_stati" >
        </activity>
    </application>

</manifest>
